DATABASE_URL="postgresql://hosto:hosto@localhost:5432/hosto?schema=public"

BETTER_AUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

S3_ENDPOINT="http://localhost:9010"
S3_REGION="us-east-1"
S3_BUCKET="hosto-assets"
S3_ACCESS_KEY_ID="hosto"
S3_SECRET_ACCESS_KEY="hostosecret"
